/* Import font-family */

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap')

/* CSS variables for this product */

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

/* Apply font-family */

body {
    background-color: var(--white);
    font-family: 'Outfit', sans-serif;
    font-optical-sizing: auto;
}

@media only screen and (max-width: 375px) {
    p {
        font-size: 12px;
    }
}

@media only screen and (min-width: 375px) and (max-width: 1440px)  {
    p {
        font-size: 14px;
    }
}

p {
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }