/* Import font-family */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Define CSS variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: rgb(213, 225, 239);
  text-align: center;
}

.rounded_qrCode {
  border-radius: 4%;
}

.strong {
  font-weight: bold;
}

figcaption {
  display: none;
}

@media only screen and (max-width: 375px) {
  p {
    font-size: 12px;
  }

  .qrcode img {
    max-width: 100%; /* To make the image responsive */
  }
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  p {
    font-size: 14px;
  }

  .qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center; /* This aligns the content of the div horizontally to the center */
    align-items: center; /* This aligns the content of the div vertically to the center */
    position: absolute; /* This takes the .qrcode div out of the normal document flow, allowing absolute positioning for precise centering. */
    top: 50%; /* Set top position to 50vh for vertical centering */
    left: 50%; /* Set left position to 50vw for horizontal centering */
    /* These properties set the top and left positions of the div to 50% viewport height (vh) and 50% viewport width (vw), respectively. This roughly places the div's top left corner in the center of the viewport. */
    transform: translate(
      -50%,
      -50%
    ); /* Translate to compensate for its own dimensions */
    /* transform: translate(-50%, -50%);: This uses the transform property to translate (move) the div by half its width and height on both axes. This effectively centers the div's center point within the viewport, regardless of its content size. */
  }
  
}

.footer {
  position: fixed; /* Position the element relative to the viewport */
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 11px;
  text-align: center;
  color: hsl(228, 45%, 44%);
  font-size: 14px;
}

