/* Import font-family */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

/* Define CSS variables */
:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

body {
  background-color: rgb(213, 225, 239);
  text-align: center;
}

.rounded_qrCode {
  border-radius: 4%;
}

.strong {
  font-weight: bold;
}

figcaption {
  display: none;
}

img {
  max-width: 100%;
  height: auto;
  }

@media only screen and (max-width: 375px) {
  p {
    font-size: 15px;
  }
}

@media only screen and (min-width: 375px) and (max-width: 1440px) {
  p {
    font-size: 15px;
  }

  .qrcode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 15px; /* Adjusted from 11px */
  text-align: center;
  color: hsl(228, 45%, 44%);
}
